.page-post .content {
  margin-bottom: 30px;
}

.page-post .s-header {
  padding: 0;
  position: relative;
  min-height: 350px;
  max-height: 400px;
  z-index: 1;
  overflow: hidden;
}

.page-post .s-header .img-responsive {
  width: 100%;
}

.page-post .s-header-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.page-post .s-header-title {
  font-size: 120px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  letter-spacing: 2px;
}

article, .s-post {
  margin: 40px 0;
  font-size: 16px;
}

article h1, article h2, article h3, article h4, .s-post h1, .s-post h2, .s-post h3, .s-post h4 {
  margin: 40px 0 20px;
}

article .post-content-main, .s-post .post-content-main {
  font-size: 18px;
}

article .post-content, .s-post .post-content {
  margin-bottom: 20px;
}

article ul li, .s-post ul li {
  margin: 0;
  padding: 5px 0 5px 30px;
  position: relative;
}

article ul li:before, .s-post ul li:before {
  content: '';
  height: 2px;
  width: 15px;
  background: #febb16;
  position: absolute;
  top: 16px;
  left: 0;
}

.s-examples {
  text-align: center;
}

.s-examples h2 {
  margin: 20px 0;
  font-size: 40px;
  font-weight: 600;
}

.carousel-exemples {
  margin: 20px 0;
}

.carousel-exemples .carousel-exemple-item {
  height: 300px;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.carousel-exemples .carousel-exemple-content {
  color: #fff;
  position: relative;
  z-index: 2;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}

.carousel-exemples .overlay::before {
  background-color: #000;
  opacity: .4;
}

.carousel-exemples .overlay:hover::before, .carousel-exemples .overlay:focus::before {
  background-color: #000;
  opacity: .7;
}

.carousel-exemples .owl-nav > div {
  color: #444;
}

.carousel-exemples .owl-nav > div:hover, .carousel-exemples .owl-nav > div:focus {
  color: #febb16;
}

.quotes {
  color: #444;
  font-size: 32px;
  font-weight: 600;
  font-style: italic;
  line-height: 54px;
  text-align: center;
  position: relative;
  margin: 60px 0;
}

.quotes::before {
  content: '';
  position: absolute;
  background-color: #febb16;
  -webkit-mask-image: url(../img/post/quote.svg);
          mask-image: url(../img/post/quote.svg);
  width: 37px;
  height: 26px;
  top: -40px;
  margin-left: -30px;
}

.sidebar {
  padding: 0 30px;
  margin-bottom: 30px;
}

.sidebar .quotes {
  font-size: 18px;
  line-height: 28px;
}

.sidebar .quotes::before {
  background-color: #e8e8e8;
}

.table-wrapper {
  position: relative;
}

.table-scroll {
  overflow-x: auto;
}

table, .table {
  width: 100%;
  color: #444;
  font-size: 16px;
  min-width: 960px;
}

table tr, .table tr {
  height: 60px;
  line-height: 60px;
}

table thead, .table thead {
  font-weight: 600;
  opacity: .5;
}

table tbody tr, .table tbody tr {
  border-bottom: 2px solid #e3e8f0;
}

table tbody .name, .table tbody .name {
  font-weight: 600;
}

table tbody .tag, .table tbody .tag {
  height: 40px;
  line-height: 40px;
  width: 100px;
  text-align: center;
  display: block;
  position: relative;
  top: 10px;
  color: #F6B20A;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

table tbody .tag::before, .table tbody .tag::before {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: .15;
  background: #F6B20A;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

table tbody tr:nth-child(2n) .tag, .table tbody tr:nth-child(2n) .tag {
  color: #74c719;
}

table tbody tr:nth-child(2n) .tag::before, .table tbody tr:nth-child(2n) .tag::before {
  background: #74c719;
}

table tbody tr:nth-child(3n) .tag, .table tbody tr:nth-child(3n) .tag {
  color: #4A90E2;
}

table tbody tr:nth-child(3n) .tag::before, .table tbody tr:nth-child(3n) .tag::before {
  background: #4A90E2;
}

table tbody a, .table tbody a {
  color: #4A90E2;
  font-weight: 600;
}

table tbody a:hover, table tbody a:focus, .table tbody a:hover, .table tbody a:focus {
  color: #5069e6;
}

table tbody .btn-border-accent, .table tbody .btn-border-accent {
  font-size: 16px;
  line-height: 40px;
  height: 40px;
  width: 130px;
  padding: 0;
  color: #febb16;
}

table tbody .btn-border-accent:hover, table tbody .btn-border-accent:focus, .table tbody .btn-border-accent:hover, .table tbody .btn-border-accent:focus {
  color: #fff;
}

.s-order-wrap {
  padding-bottom: 30px;
}

.s-order {
  background: #febb16;
  color: #fff;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  padding: 30px;
  text-align: center;
  margin: 0 auto;
  max-width: 1300px;
}

.s-order .title {
  font-size: 20px;
  color: #000;
  text-transform: uppercase;
}

.s-order .cont {
  font-size: 28px;
  font-weight: bold;
  padding: 15px 0;
}

.s-order p {
  padding-bottom: 15px;
  font-size: 18px;
}

.s-order .button-wrap {
  margin: 15px 0;
}


@media only screen and (max-width: 1280px) {


  .page-post .content {
    margin-bottom: 30px;
  }
  .page-post .s-header {
    padding: 0;
    position: relative;
    min-height: 350px;
    z-index: 1;
    overflow: hidden;
  }
  .page-post .s-header .img-responsive {
    width: 100%;
  }
  .page-post .s-header-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  .page-post .s-header-title {
    font-size: 100px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
  }


   article, .s-post {
    margin: 40px 0;
    font-size: 16px;
  }
  article h1, article h2, article h3, article h4, .s-post h1, .s-post h2, .s-post h3, .s-post h4 {
    margin: 20px 0;
  }
  article .post-content-main, .s-post .post-content-main {
    font-size: 18px;
  }
  article .post-content, .s-post .post-content {
    margin-bottom: 20px;
  }
  article ul li, .s-post ul li {
    margin: 0;
    padding: 5px 0 5px 30px;
    position: relative;
  }
  article ul li:before, .s-post ul li:before {
    content: '';
    height: 2px;
    width: 15px;
    background: #febb16;
    position: absolute;
    top: 16px;
    left: 0;
  }
  .s-examples {
    text-align: center;
  }
  .s-examples h2 {
    margin: 20px 0;
    font-size: 40px;
  }
  .carousel-exemples {
    margin: 20px 0;
  }
  .carousel-exemples .carousel-exemple-item {
    height: 300px;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    padding: 20px;
  }
  .carousel-exemples .carousel-exemple-content {
    font-size: 28px;
  }
  .quotes {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5;
  }
  .sidebar {
    padding: 0 30px;
    margin-bottom: 30px;
  }
  .sidebar .quotes {
    font-size: 18px;
  }
  .sidebar .quotes::before {
    background-color: #e8e8e8;
  }
  table, .table {
    width: 100%;
    color: #444;
    font-size: 16px;
    min-width: 960px;
  }
  table tr, .table tr {
    height: 60px;
    line-height: 60px;
  }
  table thead, .table thead {
    font-weight: 600;
  }
  table tbody .name, .table tbody .name {
    font-weight: 600;
  }
  table tbody .tag, .table tbody .tag {
    height: 40px;
    line-height: 40px;
    width: 100px;
    top: 10px;
  }
  table tbody .btn-border-accent, .table tbody .btn-border-accent {
    font-size: 16px;
    line-height: 40px;
    height: 40px;
    width: 130px;
  }
  .s-order-wrap {
    margin: 0 auto;
    max-width: 1300px;
    padding-bottom: 60px;
  }
  .s-order {
    background: #febb16;
    color: #fff;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    padding: 30px;
    text-align: center;
  }
  .s-order .title {
    font-size: 20px;
    color: #000;
    text-transform: uppercase;
  }
  .s-order .cont {
    font-size: 28px;
    font-weight: bold;
    padding: 15px 0;
  }
  .s-order p {
    padding-bottom: 15px;
    font-size: 18px;
  }
  .s-order .button-wrap {
    margin: 15px 0;
  }
}


@media (max-width: 991.98px) { 
      .page-post .s-header {
    min-height: auto;
  }
  .page-post .s-header-title {
    font-size: 60px;
    text-transform: uppercase;
  }
  .s-post, article {
    margin: 20px 0;
  }
  .carousel-exemples .carousel-exemple-item {
    height: 170px;
    padding: 10px;
    font-size: 20px;
  }
  .carousel-exemples .carousel-exemple-content {
    font-size: 20px;
  }
  .content.mr-top {
    margin-top: 90px;
  }
  .s-post .post-content-main, article .post-content-main {
    font-size: 16px;
  }
  .s-post .img-responsive, article .img-responsive {
    width: 360px;
    margin: auto;
  }
  .s-examples h2 {
    font-size: 32px;
  }
  .table, table {
    font-size: 14px;
  }
  .table tr, table tr {
    line-height: 54px;
  }
  .quotes {
    font-size: 20px;
  }
  .s-order .title {
    font-size: 18px;
  }
  .s-order .cont {
    font-size: 24px;
  }
  .s-order-wrap {
    max-width: 680px;
  }

}


  @media (max-width: 575.98px) {

  .s-post, article {
    margin: 20px 0;
  }
  .s-post h1, .s-post .h1, article h1, article .h1 {
    margin: 10px 0;
  }
  .s-post h3, .s-post .h3, .s-post h4, .s-post .h4, article h3, article .h3, article h4, article .h4 {
    text-align: center;
    margin: 10px 0;
  }
  .s-post .post-content-main, article .post-content-main {
    font-size: 14px;
  }
  .s-post .post-content, article .post-content {
    font-size: 14px;
  }
  .s-post .post-content h3, .s-post .post-content .h3, .s-post .post-content h4, .s-post .post-content .h4, article .post-content h3, article .post-content .h3, article .post-content h4, article .post-content .h4 {
    text-align: center;
    margin: 10px 0;
  }
  .s-examples h2 {
    font-size: 24px;
  }
  .page-post-title {
    font-size: 24px;
    text-transform: none;
  }
  .post-content img {
    display: none;
  }
  .sm-none {
    display: none;
  }
  .page .s-certificates .owl-nav {
    top: 16%;
  }
  .carousel-exemples {
    margin: 0;
  }
  .carousel-exemples .carousel-exemple-item {
    height: 210px;
    padding: 10px;
    font-size: 20px;
  }
  .carousel-exemples .carousel-exemple-content {
    font-size: 20px;
  }
  .owl-dots {
    margin-top: 30px;
  }
  .sidebar {
    margin: 0;
    padding: 0;
  }
  .sidebar .quotes {
    display: none;
  }
  .quotes {
    margin-bottom: 30px;
    font-size: 18px;
  }
  .s-order-wrap {
    margin-bottom: 0px;
    width: 100%;
    max-width: 100%;
  }
  .s-order-wrap .s-order {
    -webkit-border-radius: 0;
            border-radius: 0;
  }
  .page-post .content {
    margin-bottom: 0;
  }
}