#contact {padding: 0;}

.filter-list-contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.filter-list-contacts li {
  cursor: pointer;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #444;
}

.filter-list-contacts li:hover {
   color: #fdb503;
   -webkit-transition: .25s ease;
  -o-transition: .25s ease;
  transition: .25s ease;
}

.s-callback {
  position: relative;
  z-index: 1;
}
.page_contacts_title {font-weight: bold;}

.success {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: #fff;
  text-align: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  font-size: 26px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.success h2 {
  font-size: 42px;
  display: block;
}

.callback {
  padding-top: 10px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}

.callback input {
  width: 48%;
  display: inline-block;
}

.callback .button-wrap {
  display: inline-block;
  text-align: right;
  width: 100%;
  margin: 20px 0;
}

.callback .button-wrap .btn-border {
  margin-right: 0;
  font-size: 20px;
  color: #febb16;
}

.callback .button-wrap .btn-border .lnr {
  text-align: right;
  font-size: 16px;
  position: relative;
  top: 1px;
  right: -8px;
}

.callback .button-wrap .btn-border:hover, .callback .button-wrap .btn-border:focus {
  background: #febb16;
  color: #fff;
}

.callback .button-wrap .btn-border:hover .lnr, .callback .button-wrap .btn-border:focus .lnr {
  color: #fff;
}

.address {
  width: 100%;
  overflow: hidden;
  height: 700px;
}

.address-item {
  position: absolute;
  display: none;
  width: 100%;
  height: 700px;
}

.address-item:first-child {display: block;}

.filter-map:hover{color: #febb16;}

.filter-map:first-child{color: #febb16;}

.addressItem-block {
  display: flex;
  margin-bottom: 15px;
}

.addressItem-block:nth-child(5) {margin-bottom: 0;}

.addressItem-block span{
  font-size: 20px;
  line-height: 1.6;
}

.address-item .link_city {
  display: none;
  padding-left: 20px;
  margin-bottom: 15px;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 1px;
  color: #444444;
}

.address-item .link {
  position: relative;
  top: 80px;
  left: 160px;
  max-width: 370px;
  padding: 50px 60px 60px 50px;
  background-color: #febb16;
  -webkit-transition: background-color .25s;
  -o-transition: background-color .25s;
  transition: background-color .25s;
  color: #000;
  font-weight: 600;
  z-index: 2;
}

.addressItem-block .fa {
  padding-top: 8px;
  margin-right: 10px;
  color: #fff;
  font-size: 20px;
}

.address-item:nth-child(1) .none {
  display: block;
  opacity: 1;
}

.address .maps {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: opacity .25s;
  -o-transition: opacity .25s;
  transition: opacity .25s;
}

.address .maps * {
  width: 100%;
  height: 700px;
  position: relative;
}

.address .none {
  display: none;
  opacity: 0;
}

.address .button-wrap .btn-small {
  padding: 0;
  margin-left: 25px;
  text-decoration: underline;
  text-decoration-style: dashed;
  color: #febb16;
  font-size: 14px;
  line-height: 1.2;
  height: auto;
}

.address .button-wrap .btn-small::after {
  position: relative;
  left: 2px;
  content: '\e874';
  font-family: "Linearicons-Free";
  font-size: 12px;
}

.address .button-wrap .btn-small.on::after {
  content: '\e873';
}



@media (max-width: 1919px) {

  .address-item .link {
    top: 80px;
    left: 70px;
    max-width: 330px;
    padding: 25px 30px 25px 25px;
  }


}

@media (max-width: 1439px) {

  .address {margin-top: 20px;}
  
  .address-item .link {
    left: 50px;
    max-width: 300px;
    padding: 25px 30px 25px 25px;
  }

  .addressItem-block span {font-size: 18px;}

  .filter-list-contacts {margin-bottom: 0;}

}




@media only screen and (max-width: 1279px) {

  .head-text {font-size: 28px;}

  .address-item .link {left: 40px;}

  .addressItem-block span {font-size: 16px;}

  .addressItem-block .fa {padding-top: 4px;}

}


@media only screen and (max-width: 1023px) {

   .address {margin-top: 5px;}
    
  .head-text {
    font-size: 26px;
  }
  .address {margin-top: 20px;}

  .address-item .link li {
    font-size: 14px;
  }
  
}


  @media (max-width: 991.98px) { 

  .s-callback .text, .s-callback h4 {
    font-size: 24px;
    padding-bottom: 0;
  }
 
  .head-text {
    font-size: 24px;
    padding: 15px 0;
  }
  .address-item:nth-child(1) .none {
    display: none;
  }
  .address-item:nth-child(1) .active.custom-active {
    background-color: #f0f4f7;
    color: #444;
  }
  .address-item:nth-child(1) .active.custom-active .fa {
    color: #9B9B9B;
  }
  .address-item:nth-child(1) .active.custom-active::after {
    display: none;
  }
  .callback .button-wrap {
    padding-left: 0;
    padding-right: 0;
  }
  .callback input {
    width: 49%;
  }
}

@media (max-width: 767px) {

    .page_title_contact{display: block;}

    .address-item .link_city {display: block;}

    .page_title, .page_title-inner {
      padding-top: 30px;
      font-size: 36px;
      line-height: 1.3;
    }

    .filter-wrap {display: none;}

    .address {height: auto;}

    .address-item{
      display: block;
      position: static;
      height: auto;
    }

    .address-item .link {
      position: static;
      max-width: 100%;
      background-color: #fff;
      border-top: 2px solid #ededed;
    }

    .addressItem-block .fa {
      color: #9b9b9b;
    }

    .address .maps {
      position: static;
      display: none;
    }

    .address .maps * {height: 300px;}

    .button-wrap {margin-top: 10px;}



  }


  @media (max-width: 575.98px) {

  .callback .button-wrap {
    text-align: center;
  }
  .address-item .link li {
    font-size: 16px;
  }
  .callback input {
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
  }
}