.s-send {
  padding: 40px 0;
  font-size: 26px;
}

.s-send p {margin: 20px 0;}

.review {
  margin: 40px 0;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review .button-wrap {
  margin: 20px 0;
  text-align: right;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.review .button-wrap .btn-border {
  margin-right: 0;
  color: #febb16;
}

.review .button-wrap .btn-border .lnr {
  font-size: 16px;
  font-weight: bold;
  top: 1px;
  padding-right: 0;
  padding-left: 10px;
  color: #febb16;
}

.review .button-wrap .btn-border:hover, .review .button-wrap .btn-border:focus {
  background: #febb16;
  color: #fff;
}

.review .button-wrap .btn-border:hover .lnr, .review .button-wrap .btn-border:focus .lnr {
  color: #fff;
}

.review input {width: 48%;}

.review input[name="title"] {width: 100%;}

.button-upload {
  display: block;
  min-width: 150px;
  position: relative;
}

.button-upload input[type="file"] {display: none;}

.button-upload label {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  width: 110px;
}

.button-upload label i, .upload_button-margin {cursor: pointer;}

.button-upload .label-flex {
  position: static;
  display: block;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
}

.button-upload .label-flex i {padding-left: 5px;}

.button-upload span {
  border-bottom: 1px dashed #444;
  color: #444;
  font-size: 18px;
}

.button-upload .lnr-paperclip {
  display: block;
  position: absolute;
  color: #febb16;
  font-weight: bold;
  font-size: 20px;
  top: 4px;
}

.button-upload .lnr-paperclip::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  display: block;
}

.button-upload .lnr-cross {
  color: red;
  position: relative;
  top: 2px;
}



  @media (max-width: 575.98px) {

  .footer-adress.tabs {text-align: center;}

  .footer-adress-content {
    padding: 20px 0;
    display: inline-block;
    text-align: left;
  }

  .main-footer .social-wrap {margin: 0 auto;}

  .main-footer .button-wrap,
  .main-footer .copyrating {
    margin: 20px auto;
    text-align: center;
  }

  .s-send {
    font-size: 18px;
    text-align: center;
  }
  .s-send h1 {
    text-align: center;
    margin-top: 20px;
  }
  .s-send p {margin: 15px 0;}

  .s-send .img-responsive {max-width: 60%;}

  .review {margin-top: 30px;}

  .review input {width: 100%;}

  .review .button-wrap {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .review .button-wrap > div {display: inline-block;}

  .review .button-upload {margin-bottom: 20px;}

  .review .button-upload label {position: relative;}

  .button-upload .lnr-paperclip {left: -10px;}

}