.page .main-menu a {color: #000;}

.page .main-menu a:hover, .page .main-menu a:focus,
.page .main-menu a.active {color: #febb16;}

.page_title, .page_title-inner {
  padding-top: 70px;
  margin-bottom: 35px;
  font-size: 60px;
  font-weight: bold;
  line-height: 1.27;
  text-align: center;
  color: #444;
}

.page_title-inner a{
  position: absolute;
  left: 25px;
  color: #444;
}


.pageTitle_back {
  float: left;
  color: #444;
}

.list-items {
  max-width: 100%;
  width: 100%;
  overflow: hidden;
}

.list-item {
  position: relative;
  padding: 0;
}

.list-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
}

.list-row > div {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.list-image {
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  position: relative;
  min-height: 42px;
}

.list-content {
  font-size: 20px;
  position: relative;
  -webkit-transition: background-color .25s ease;
  -o-transition: background-color .25s ease;
  transition: background-color .25s ease;
}

.list-composition {
  height: 100%;
  padding: 13% 18% 13% 10%;
}

.list-composition h3, .list-composition .h3 {
  font-size: 48px;
  margin-bottom: 30px;
  -webkit-transition: color .25s ease;
  -o-transition: color .25s ease;
  transition: color .25s ease;
}

.list-item:nth-child(2n+2) .list-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

.list-item:nth-child(2n+2) .list-composition {
  padding: 13% 10% 13% 18%;
}

.content.mr-top {
  margin-top: 122px;
  border-top: 1px solid #f5f5f5;
}

.filter-list li i {display: none;}

.filter-list {
  margin-bottom: 70px;
  text-align: center;
}

.modal-filter-list li a, .filter-list li a {
  font-size: 20px;
  color:#000;
  -webkit-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

.filter-list li {
  display: inline-block;
  margin: 0 10px;
  position: relative;
}

.modal-filter-list li a:hover, .modal-filter-list li a:focus, .modal-filter-list li.active,
 .filter-list li a:hover, .filter-list li a:focus, .filter-list li.active {
  color: #febb16;
}

.filter-list li:after {
  margin-top: 10px;
  border-radius: 5.5px;
  background-color: #febb16;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  left: 50%;
  position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
  transition: width .3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
  transform:translateX(-50%);
  }

.filter-list li:hover:after, .filter-list li:focus:after { width: 100%; }



/*Breadcrumbs*/

.breadcrumb {
  margin-bottom: 0px;
  padding: 0 0 10px 0;
  background-color: #444;
  border-radius: 0px;
  border-bottom: solid 1px #656565;
}

.breadcrumb ul {padding-left: 20px;}

.breadcrumb li {
  display: inline-block;
  font-size: 14px;
  padding-right: 27px;
  position: relative;
}

.breadcrumb li a {
  color: #febb16;
  display: block;
}

.breadcrumb li a::after {
  content: '\e876';
  position: absolute;
  right: 5px;
  top: 4px;
  font-family: "Linearicons-Free";
  font-size: 10px;
  color: #a0a0a0;
}

.breadcrumb li a:hover, .breadcrumb li a:focus {
  color: #fff;
}


@media only screen and (max-width: 1919px) {
  .page_title, .page_title-inner {
    padding-top: 60px;
    font-size: 58px;
  }

  .filter-list {margin-bottom: 65px;}

}


@media only screen and (max-width: 1439px) {
  .page_title, .page_title-inner {
    padding-top: 50px;
    font-size: 56px;
    margin-bottom: 30px;
  }
  
  .filter-list {margin-bottom: 50px;}

}


@media only screen and (max-width: 1279px) {

  .page_title, .page_title-inner {
    padding-top: 40px;
    font-size: 52px;
    line-height: 1.35;
    margin-bottom: 20px;
  }
  
  .filter-list {margin-bottom: 40px;}

  .filter-list li a{font-size: 18px;}

  .list-composition,
  .list-item:nth-child(2n+2) .list-composition {padding: 12% 10%;}

  .list-composition .h3, .list-composition h3 {
    font-size: 44px;
    margin-bottom: 20px;
  }

  .list-content {font-size: 18px;}
}


@media only screen and (max-width: 1023px) {

  .page_title, .page_title-inner {
    padding-top: 30px;
    font-size: 48px;
    line-height: 1.3;
  }
  
  .filter-list {margin-bottom: 30px;}

  .list-composition .h3, .list-composition h3 {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .list-text {margin-bottom: 20px;}

}



@media (max-width: 991.98px) { 

  .list-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .list-row > div {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .list-image {
    min-height: 300px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }
  .list-content {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
  .list-composition {
    height: 100%;
    padding: 20px 20px 60px;
  }
  .list-composition h3, .list-composition .h3 {
    font-size: 36px;
    margin-bottom: 15px;
  }
  .list-text {font-size: 16px;}

  .list-item:nth-child(2n+2) .list-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .list-item:nth-child(2n+2) .list-composition {padding: 20px 20px 60px;}

  .filter-list {
    text-align: left;
    height: 100%;
    padding: 10px 20px;
    line-height: 1.6;
    font-size: 14px;
    padding-left: 20px;
    max-height: 100%;
    right: -2px !important;
  }
  .filter-list li {
    margin-left: 0;
    margin-right: 15px;
  }

}


@media only screen and (max-width: 767px) {

  .page_title {display: none;}

  .page_title-inner{
    margin-bottom: 15px;
    padding: 20px 15px 0 15px;
    font-size: 26px;
  }

  #title_filter {
    display: flex;
    justify-content: end;
    padding: 20px 0;
  }

  #title_filter a {
    margin: 0 auto;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.78;
    color: #444;
    pointer-events: none;
  }

  #title_filter i {
    align-self: center;
    color: #febb16;
   
  }

  .modal-header {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.23;
    text-align: center;
    color: #444;
    pointer-events: none;
  }

  #button_filter a {
    margin-right: 5px;
    color: #febb16;
    pointer-events: none;
  }

  .modal-header {
    justify-content: center;
  }
  
  .filter-list {
    padding: 0 25px;
    margin-bottom: 0;
  }

  #button_filter {
    margin-bottom: 20px;
    width: 100%;
  }

 .filter-list .filter_mobile {display: none;}

  .modal-filter-list li, .filter-list li {
    display: block;
    margin-right: 0px;
    font-weight: 600;
    line-height: 1.78;
    text-align: center;
  }

  .filter-list li a {
    margin-bottom: 10px;
  }

  .modal-filter-list li a {
    margin-bottom: 5px;
    font-size: 16px;
  }

  .modal-filter-list li i, .filter-list li i {
    display: inline-block;
    font-size: 14px;
    align-self: top;
    color: #9b9b9b;
  }
  
   .modal-header i {
    padding-left: 10px;
    font-size: 14px;
    align-self: center;
    color: #9b9b9b;
  }

  .filter-list li:after {display: none;}

  .modal-dialog {
    margin: 40% auto;
  }

  .modal-backdrop.show {opacity: 0;}

  .modal-content{
    border: none;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 7px;
  }

  .modal-header {padding: 25px 0 20px 0;}

  .modal-body {
    padding-top: 20px;
    padding-bottom: 20px;
  }

}


@media (max-width: 575.98px) {

  .page_title-inner a{
    position: inherit;
  }

  .list-image {min-height: 250px;}

  .list-content {font-size: 14px;}

  .list-composition {
    height: 100%;
    padding: 20px;
    text-align: center;
  }
  .list-composition h3, .list-composition .h3 {
    font-size: 32px;
    margin-bottom: 15px;
    line-height: 40px;
  }
  .list-composition .button {margin-bottom: 20px;}

  .list-composition .button .fa, .list-composition .button .lnr {
    position: relative;
    top: 1px;
    padding-left: 15px;
  }
  .list-text {text-align: left;}

  .list-item:nth-child(2n+2) .list-composition {padding: 20px;}

  .content.mr-top {margin-top: 80px;}

  .breadcrumb li {padding-right: 20px;}

  .breadcrumb li a::after {font-size: 8px;}
  
}