.s-projects_portfolio{padding-bottom: 0;}

/*Projects*/

.s-projects {padding-top: 0px;}

.item-project_category {
  padding: 20px 30px 0 0;
  width: 100%;
  text-align: right;
}

.item-project_category span {
  padding: 4px 10px;
  border-radius: 14px;
  background-color: rgba(0, 0, 0, 0.2);
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.08px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.item-project_title {
  position: absolute;
  bottom: 22px;
  left: 30px;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.57;
  color: #000000;
  z-index: 1;
}

.item-project img {
  -webkit-background-size: cover;
  background-size: cover; }

.item-project-content {
  position: absolute;
  top: calc(50% - 45px);
  width: 100%;
  text-align: center;
  color: #ffffff;
  z-index: 3;
  opacity: 0;
  -webkit-transition: opacity .25s ease;
  -o-transition: opacity .25s ease;
  transition: opacity .25s ease; 
}

.item-project-content h3 {
  margin: 0;
  font-weight: bold;
  line-height: 1.1;
  font-size: 40px; 
}

.item-project-content p {
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff; 
}

.item-project-content a {
  color: #000;
  text-decoration: none; }

.item-project:hover .item-project-content, .item-project:focus .item-project-content {
  opacity: 1; }

.overlay {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  display: block; }

.overlay::before {
  content: '';
  background-color: #fdb503;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: opacity .25s ease;
  -o-transition: opacity .25s ease;
  transition: opacity .25s ease; 
  z-index: 2;
  transition: 0.3s;
}

.overlay:hover::before {
  opacity: 1; }

.overlay-dark {
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  position: relative;
  display: block; }

.overlay-dark::before {
  content: '';
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .4;
  -webkit-transition: opacity .25s ease;
  -o-transition: opacity .25s ease;
  transition: opacity .25s ease; }

.overlay-dark:hover::before {
  opacity: 0.1; }

#portfolio-grid, #best_portfolio_grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(390px, auto);
  grid-auto-flow: dense;
}

.item-project-portfolio:nth-child(7n+1) {
  grid-column: span 2;
  grid-row: span 2;
}


/*Single portfolio*/

.change_post_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 423px;
}

.change_post_link a h3{
  margin-bottom: 30px;
  color: #fff;
  font-weight: 600;
  text-align: center;
}

.postLink_desc p {
  margin: 0 auto;
  max-width: 635px;
  color: #fff;
  text-align: center;
}

.single_portfolio_widgets {
  padding-bottom: 0;
}

.service_widget.widget_portfolio {margin-bottom: 50px;}


@media (max-width: 1919px) {

  .item-project-content {top:calc(50% - 35px);}

  .item-project-content h3 {font-size: 36px;}

  .item-project-content p {
    font-size: 16px;
    line-height: 2.75;
  }

  .item-project_title {
    font-size: 26px;
    bottom: 10px;
  }

  .item-project_category {
    padding: 10px 20px 0 0;
  }

  .item-project_category span {font-size: 10px;}
}


@media (max-width: 1680px) {
  #portfolio-grid, #best_portfolio_grid {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(320px, auto);
  }
}


@media (max-width: 1439px) {
  .item-project-content {
    padding: 20px; }

  .item-project-content {
    top: calc(50% - 43px);
  }

  .item-project-content h3 {
    font-size: 32px; }

    .item-project_title {
    left: 20px;
    bottom: 5px;
  }

  .item-project_category {padding-top: 0px;}

  #portfolio-grid, #best_portfolio_grid {grid-auto-rows: minmax(265px, auto);}
}

@media (max-width: 1279px) {

  .item-project_category {
    padding: 5px 15px 0 0;
  }

  .item-project_title {
    font-size: 20px;
    left: 15px;
    bottom: 5px;
  }

  .item-project-content h3 {font-size: 30px;}

  #portfolio-grid, #best_portfolio_grid {grid-auto-rows: minmax(210px, auto);}
}



@media (max-width: 1023px) {

.item-project_title {
    font-size: 26px;
    left: 10px;
    bottom: 10px;
  }
}



@media (max-width: 991px) {
  #portfolio-grid, #best_portfolio_grid {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(312px, auto);
  }
}

@media (max-width: 767px) {
  .item-project_title {font-size: 22px;}

  .change_post_link {
    min-height: 350px;
  }
}


@media (max-width: 576px) {

  .item-project-content {
    padding-bottom: 20px; }

  .item-project-content h3 {
    font-size: 20px;
    line-height: 27px; }

  .item-project-content p {
    font-size: 16px;
    line-height: 44px; }

  #portfolio-grid, #best_portfolio_grid {grid-template-columns:  1fr;}

  .item-project-portfolio:nth-child(7n+1) {
    grid-column: span 1;
    grid-row: span 1;
  }

  .change_post_link {min-height: 170px;}

  .postLink_desc {display: none;}

  .change_post_link a h3 {margin-bottom: 0;}


}
