
/*Project dark*/

.page-inversion {
  color: #fff;
}

.page-inversion h1, .page-inversion .h1, .page-inversion h2, .page-inversion .h2, .page-inversion h3, .page-inversion .h3 {
  color: #fff;
}

.page-inversion .fix-line .container .main-menu a {
  color: #fff;
}

.page-inversion .fix-line .container-fluid .main-menu a {
  color: #fff;
}

.page-inversion .main-menu a {
  color: #fff;
}

.page-inversion .main-menu a:hover, .page-inversion .main-menu a:focus {
  color: #febb16;
}

.block-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.project {
  font-size: 20px;
}

.project .s-header {
  padding-top: 110px;
  position: relative;
  min-height: 100vh;
}

.project .s-header h1 {
  margin: 20px 0;
}

.project .s-header-content {
  max-width: 780px;
}

.project .s-header-content img {
  height: 150px;
  width: auto;
}

.project .s-header .img-wrap {
  padding: 5% 0;
}

.project .s-header img {
  display: block;
  margin: auto 0;
}

.project .s-header p {
  text-align: left;
}

.project .s-gray {
  padding: 100px 0 130px;
  text-align: left;
}

.project .s-gray h2 {
  text-align: left;
}

.project .s-gray h3 {
  text-align: left;
  margin-bottom: 20px;
}

.project .s-gray .button {
  margin-top: 20px;
}

.project .s-gray.s-work-5 {
  padding: 40px 0 60px;
}

.s-colors {
  padding: 80px 0 90px;
}

.carousel-colors {
  margin-top: 60px;
  padding: 0 15%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.carousel-colors-item {
  height: 183px;
  width: 233px;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 5px 10px 0 rgba(40, 40, 40, 0.15);
          box-shadow: 0 5px 10px 0 rgba(40, 40, 40, 0.15);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}

.carousel-colors-item-content {
  display: block;
  width: 100%;
}

.carousel-colors-item img {
  height: 65px;
  width: 87px;
  margin-bottom: 10px;
}

.carousel-colors-item a {
  color: #17DCF3;
  font-size: 24px;
  width: 100%;
  height: 100%;
  padding: 30px;
}

.carousel-colors-item a:hover, .carousel-colors-item a:focus {
  color: #febb16;
}

.s-features {
  padding: 80px 0 90px;
  background: #fff;
}

.s-features .carousel-colors {
  margin-top: 60px;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.s-features .carousel-colors-item {
  height: 255px;
  width: 507px;
}

.s-features .carousel-colors-item img {
  height: 65px;
  width: 87px;
  margin-bottom: 10px;
}

.s-features .carousel-colors-item a {
  color: #000;
  font-size: 16px;
  width: 100%;
  height: 100%;
  padding: 30px;
}

.s-features .carousel-colors-item a h4 {
  margin-bottom: 10px;
}

.main-page {
  padding: 80px 0 90px;
  text-align: center;
}

.main-page h3 {
  margin-bottom: 20px;
}

.main-page img {
  margin: 60px auto;
}

.s-web {
  padding: 0;
  position: relative;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.s-web .button-wrap {
  position: absolute;
  bottom: 30px;
}

.other-project-item {
  height: 575px;
  cursor: pointer;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10%;
}

.other-project-item a {
  color: #fff;
  position: relative;
  z-index: 2;
}

.other-project-item a h3, .other-project-item a .nav-text {
  color: #fff;
  margin-bottom: 20px;
}

.other-project-item a p {
  font-size: 18px;
  letter-spacing: 0.05px;
}

.project-2 {
  background: #f0f4f7;
}

.project-2 .s-header {
  padding: 0;
}

.project-2 .s-header .img-bg {
  height: 100vh;
  width: auto;
}

.project-2 .s-header .img-bg img {
  height: 100%;
}

.project-2 .s-header-content {
  padding: 0 60px 0 0;
}

.project-2 .s-header-content img {
  height: 100px;
}

.s-works {
  text-align: center;
}

.s-works h3 {
  text-align: center;
  margin-bottom: 20px;
}

.s-works h4 {
  margin: 40px 0 10px;
}

.s-works p {
  font-size: 16px;
}

.s-works .img-wrap {
  margin-top: 40px;
}

.s-works .img-wrap img {
  margin: auto;
}

.s-works .left-block {
  background: #f1f1f1;
  padding: 40px 20px 0;
}

.s-works .right-block {
  background: #f7f7f7;
  padding: 40px 20px 0;
}

.s-works.block-2 {
  padding: 40px 0  60px;
  background: #fff;
}

.s-blue-dark {
  background-color: #436DCC;
  color: #fff;
  padding-top: 90px;
}

.s-blue-dark .img-wrap {
  margin: 20px 0;
}

.s-blue-dark h3 {
  color: #fff;
}

.s-blue-dark p {
  margin: 20px 0 30px;
}

.s-blue-dark .s-order-wrap {
  margin-top: 60px;
}

.s-blue-dark .s-order-wrap p {
  max-width: 525px;
  margin: 0 auto;
}

.parallax {
  min-height: 100vh;
  background: transparent;
}

.project-3 {
  background: #fff;
}

.project-3 .s-header {
  padding: 0;
  overflow: hidden;
  min-height: 900px;
}

.project-3 .s-header-content {
  max-width: 720px;
}

.project-3 .s-header .img-bg img {
  height: 900px;
  width: 1920px;
  position: relative;
  left: 0;
}

.project-3 .s-header-content {
  padding: 0 60px 0 0;
}

.project-3 .s-header-content img {
  height: 100px;
}

.project-3 .s-works {
  padding: 90px 0;
}

.block-2-item {
  padding: 0 20px;
}

.work-item {
  text-align: left;
}

.work-item h3 {
  text-align: left;
}

.work-item .work-icon {
  padding-bottom: 20px;
  display: block;
}

.work-item p {
  max-width: 370px;
}

.works-2 {
  background: #f1f1f1;
  text-align: left;
}

.works-2 h3 {
  text-align: left;
}

.works-2 .img-bg {
  position: relative;
  left: 0;
}

.works-3 {
  text-align: center;
}

.works-3 .img-wrap {
  margin-top: 0;
}

.s-gray-block {
  background-color: #f1f1f1;
  padding-top: 90px;
}

.s-gray-block .img-wrap {
  margin: 20px 0;
}

.s-gray-block p {
  margin: 20px 0 30px;
}

.s-gray-block .s-order-wrap {
  margin-top: 60px;
}

.s-gray-block .s-order-wrap p {
  max-width: 525px;
  margin: 0 auto;
}

.project-dark {
  background-color: #141414;
}

.project-dark p {
  opacity: .7;
}

.project-dark .s-gray {
  background-color: #222222;
}

.project-dark .s-features, .project-dark .s-colors {
  background-color: #141414;
}

.project-dark .s-features .carousel-colors-item, .project-dark .s-colors .carousel-colors-item {
  background-color: transparent;
}

.project-dark .s-features .carousel-colors-item h4, .project-dark .s-colors .carousel-colors-item h4 {
  color: #fff;
}

.project-dark .s-features .carousel-colors-item p, .project-dark .s-colors .carousel-colors-item p {
  color: #fff;
  opacity: 1;
}

.project-dark .s-features .carousel-colors-item img, .project-dark .s-colors .carousel-colors-item img {
  height: 39px;
  width: 45px;
}

.project-dark .s-works .left-block {
  background-color: #1b1b1b;
}

.project-dark .s-works .right-block {
  background-color: #141414;
}

.project-dark .work-7 {
  position: relative;
}

.project-dark .work-7 .button-wrap {
  text-align: center;
  position: absolute;
  width: 100%;
  bottom: 40px;
}

.project-dark .work-7 img {
  opacity: .2;
  height: 100%;
}

.project-dark .s-order-wrap {
  background-color: #434343;
  padding: 50px 0;
}

.project-dark .overlay-dark::before {
  opacity: .2;
}




/*==========  Desktop First  ==========*/
@media only screen and (max-width: 1680px) {

  .project {
    font-size: 20px;
  }
  .project .s-header h1 {
    margin: 20px 0;
  }
  .project .s-header-content {
    max-width: 780px;
  }
  .project .s-header .img-wrap {
    padding: 10% 0;
  }
  .project .s-gray {
    padding: 100px 0;
  }
  .project .s-gray.s-work-5 {
    padding: 40px 0 60px;
  }
  .s-colors {
    padding: 80px 0;
  }
  .carousel-colors {
    margin-top: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .carousel-colors-item {
    height: 183px;
    width: 233px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 5px 10px 0 rgba(40, 40, 40, 0.15);
            box-shadow: 0 5px 10px 0 rgba(40, 40, 40, 0.15);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
  }
  .carousel-colors-item-content {
    display: block;
    width: 100%;
  }
  .carousel-colors-item img {
    height: 65px;
    width: 87px;
    margin-bottom: 10px;
  }
  .carousel-colors-item a {
    color: #17DCF3;
    font-size: 24px;
    width: 100%;
    height: 100%;
    padding: 30px;
  }
  .carousel-colors-item a:hover, .carousel-colors-item a:focus {
    color: #febb16;
  }
  .main-page {
    padding: 80px 0 90px;
    text-align: center;
  }
  .main-page h3 {
    margin-bottom: 20px;
  }
  .main-page img {
    margin: 60px auto;
  }
  .s-web {
    padding: 0;
    position: relative;
    margin-bottom: 50px;
  }
  .s-web .button-wrap {
    position: absolute;
    bottom: 0px;
  }
  .other-project-item {
    height: 380px;
    cursor: pointer;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 8%;
  }
  .other-project-item a {
    color: #fff;
    position: relative;
    z-index: 2;
  }
  .other-project-item a h3, .other-project-item a .nav-text {
    color: #fff;
    margin-bottom: 20px;
  }
  .other-project-item a p {
    font-size: 18px;
    letter-spacing: 0.05px;
  }
  .s-features .carousel-colors {
    padding: 0;
  }
  section .button-wrap {
    margin: 40px 0;
  }
  .page-about .s-header {
    background-color: #fff;
    min-height: 640px;
  }
  .project-3 {
    background: #fff;
  }
  .project-3 .s-header {
    padding: 0;
    min-height: 800px;
  }
  .project-3 .s-header-content {
    max-width: 100%;
  }
  .project-3 .s-header .img-bg img {
    height: 800px;
    position: relative;
    left: -270px;
  }
  .project-3 .s-header-content {
    padding: 0 60px 0 0;
  }
  .project-3 .s-header-content img {
    height: 100px;
  }
}




@media only screen and (max-width: 1280px) {

  .carousel-colors {
    padding: 0;
  }
  .project-2 {
    background: #f0f4f7;
  }
  .project-2 .s-header {
    padding: 0;
  }
  .project-2 .s-header .img-bg {
    height: 100vh;
    width: auto;
    position: relative;
    left: -200px;
  }
  .project-2 .s-features {
    padding: 80px 0 90px;
  }
  .project-2 .s-features .carousel-colors {
    margin-top: 60px;
  }
  .project-2 .s-features .carousel-colors-item {
    height: 255px;
    width: 380px;
  }
  .project-2 .block-2-item {
    padding: 0 20px;
  }
  .project-3 {
    background: #fff;
  }
  .project-3 .s-header {
    padding: 0;
    min-height: 800px;
  }
  .project-3 .s-header-content {
    max-width: 100%;
  }
  .project-3 .s-header .img-bg img {
    height: 800px;
    width: auto;
    position: relative;
    left: -360px;
  }
  .project-3 .s-header-content {
    padding: 0 60px 0 0;
  }
  .project-3 .s-header-content img {
    height: 100px;
  }
  .project-3 .s-works {
    padding: 60px 0;
  }
  .project-3 .s-works .img-bg {
    position: relative;
  }
  .project-3 .s-works .img-bg img {
    max-height: 325px;
    position: relative;
  }
  .project-3 .s-works .img-responsive {
    max-height: 386px;
  }
  .project-3 .works-1 img {
    right: -20px;
  }
  .s-gray-block {
    padding-top: 60px;
  }
  .s-gray-block .img-wrap {
    margin: 20px 0;
  }
  .s-gray-block p {
    margin: 20px 0 30px;
  }
  .s-gray-block .s-order-wrap {
    margin-top: 40px;
  }
  .s-gray-block .s-order-wrap p {
    max-width: 525px;
    margin: 0 auto;
  }

}




@media only screen and (max-width: 1024px) {

  .s-gray {
    padding: 100px 0 130px;
    text-align: left;
  }
  .s-gray h2 {
    text-align: left;
  }
  .s-gray h3 {
    text-align: left;
    margin-bottom: 20px;
  }
  .s-gray .button {
    margin-top: 20px;
  }
  .s-gray.s-work-5 {
    padding: 40px 0 60px;
  }
  .project {
    font-size: 16px;
  }
  .project .s-header {
    padding: 110px 0 60px;
    min-height: auto;
    position: relative;
  }
  .project .s-header h1 {
    margin: 20px 0;
  }
  .project .s-header-content {
    max-width: 780px;
  }
  .project .s-header-content img {
    height: 87px;
    width: auto;
  }
  .project .s-header .img-wrap {
    padding: 10% 0;
  }
  .project .s-gray {
    padding: 60px 0;
  }
  .project .s-gray.s-work-5 {
    padding: 40px 0 60px;
  }
  .project .s-header img {
    margin: auto;
  }
  .s-colors {
    padding: 60px 0;
  }
  .carousel-colors {
    margin-top: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .carousel-colors-item {
    height: 173px;
    width: 217px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 5px 10px 0 rgba(40, 40, 40, 0.15);
            box-shadow: 0 5px 10px 0 rgba(40, 40, 40, 0.15);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
  }
  .carousel-colors-item-content {
    display: block;
    width: 100%;
  }
  .carousel-colors-item img {
    height: 65px;
    width: 87px;
    margin-bottom: 10px;
  }
  .carousel-colors-item a {
    color: #17DCF3;
    font-size: 22px;
    width: 100%;
    height: 100%;
    padding: 30px;
  }
  .carousel-colors-item a:hover, .carousel-colors-item a:focus {
    color: #febb16;
  }
  .main-page {
    padding: 60px 0;
    text-align: center;
  }
  .main-page h3 {
    margin-bottom: 20px;
  }
  .main-page img {
    margin: 60px auto;
  }
  .s-web {
    padding: 0;
    position: relative;
    margin-bottom: 50px;
  }
  .s-web .button-wrap {
    position: absolute;
    bottom: 0px;
  }
  .other-project-item {
    height: 350px;
    cursor: pointer;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 8%;
  }
  .other-project-item a {
    color: #fff;
    position: relative;
    z-index: 2;
  }
  .other-project-item a h3, .other-project-item a .nav-text {
    color: #fff;
    margin-bottom: 20px;
  }
  .other-project-item a p {
    font-size: 16px;
    letter-spacing: 0.05px;
  }
  .project .s-features {
    padding: 60px 0px;
  }
  .project .s-features .carousel-colors {
    margin-top: 60px;
  }
  .project .s-features .carousel-colors-item {
    height: 241px;
    width: 300px;
  }
  .project-2 {
    background: #f0f4f7;
  }
  .project-2 .s-header {
    padding: 0;
    height: 800px;
  }
  .project-2 .s-header .img-bg {
    height: 800px;
    width: auto;
    position: relative;
    left: -290px;
  }
  .project-2 .s-header-content {
    padding: 10% 40px 0  0;
  }
  .project-3 {
    background: #fff;
  }
  .project-3 .s-header {
    padding: 0;
    min-height: 620px;
  }
  .project-3 .s-header-content {
    max-width: 100%;
  }
  .project-3 .s-header .img-bg {
    height: 100%;
    width: auto;
  }
  .project-3 .s-header .img-bg img {
    height: 620px;
    position: relative;
    left: -270px;
  }
  .project-3 .s-header-content {
    padding: 0 60px 0 0;
  }
  .project-3 .s-header-content img {
    height: 100px;
  }
  .project-3 .s-works {
    padding: 60px 0;
  }
  .project-3 .s-works .img-bg {
    position: relative;
    left: 0;
  }
  .project-3 .s-works .img-bg img {
    max-height: 257px;
  }
  .project-3 .s-works .img-responsive {
    max-height: 280px;
  }
  .s-gray-block {
    padding-top: 60px;
  }
  .s-gray-block .img-wrap {
    margin: 20px 0;
  }
  .s-gray-block p {
    margin: 20px 0 30px;
  }
  .s-gray-block .s-order-wrap {
    margin-top: 40px;
  }
  .s-gray-block .s-order-wrap p {
    max-width: 525px;
    margin: 0 auto;
  }
  .works-1 .img-bg {
    position: relative;
  }
  .works-1 .img-bg img {
    right: -60px;
    position: relative;
  }
  section .button-wrap {
    margin: 40px 0 0;
  }

}




@media (max-width: 991.98px) { 

  .main-footer .copyrating {
    text-align: center;
  }
  .project {
    font-size: 16px;
  }
  .project .s-header .img-wrap {
    padding: 0 0 20px;
  }
  .project .s-header .img-wrap img {
    max-width: 318px;
    margin: auto;
  }
  .project .s-header h1 {
    margin: 20px 0;
  }
  .project .s-header-content {
    max-width: 100%;
    margin-bottom: 60px;
    font-size: 18px;
  }
  .project .s-gray {
    padding: 60px 0;
  }
  .project .s-gray.s-work-5 {
    padding: 40px 0 60px;
  }
  .project .s-gray.s-work-5 .img-responsive {
    padding-right: 8%;
    padding-top: 20px;
  }
  .project .s-order-wrap {
    max-width: 100%;
    padding: 0 20px 30px;
  }
  .s-colors {
    padding: 60px 0;
  }
  .carousel-colors {
    margin-top: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .carousel-colors-item {
    height: 163px;
    width: 166px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 5px 10px 0 rgba(40, 40, 40, 0.15);
            box-shadow: 0 5px 10px 0 rgba(40, 40, 40, 0.15);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
  }
  .carousel-colors-item-content {
    display: block;
    width: 100%;
  }
  .carousel-colors-item img {
    height: 65px;
    width: 87px;
    margin-bottom: 10px;
  }
  .carousel-colors-item a {
    color: #17DCF3;
    font-size: 22px;
    width: 100%;
    height: 100%;
    padding: 30px;
  }
  .carousel-colors-item a:hover, .carousel-colors-item a:focus {
    color: #febb16;
  }
  .main-page {
    padding: 60px 0;
    text-align: center;
  }
  .main-page h3 {
    margin-bottom: 20px;
  }
  .main-page img {
    margin: 20px auto;
  }
  .s-web {
    padding: 0;
    position: relative;
    margin-bottom: 30px;
  }
  .s-web .img-responsive.img-width {
    height: 650px;
    height-width: 974px;
    background-position: center;
    position: relative;
    left: -100px;
    max-width: 974px;
    width: auto;
  }
  .s-web .button-wrap {
    position: absolute;
    bottom: 20px;
  }
  .other-project-item {
    height: 350px;
    cursor: pointer;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 0 20px;
  }
  .other-project-item a {
    color: #fff;
    position: relative;
    z-index: 2;
  }
  .other-project-item a h3, .other-project-item a .nav-text {
    color: #fff;
    margin-bottom: 20px;
  }
  .other-project-item a p {
    font-size: 16px;
    letter-spacing: 0.05px;
  }
  .project-2 .s-features {
    padding: 60px 0px;
  }
  .project-2 .s-features .carousel-colors {
    margin-top: 40px;
  }
  .project-2 .s-features .carousel-colors-item {
    height: 254px;
    width: 215px;
  }
  .project-2 {
    background: #f0f4f7;
  }
  .project-2 .s-header {
    padding: 0;
    height: 100%;
  }
  .project-2 .s-header .img-bg {
    height: 730px;
    width: auto;
    position: relative;
    left: -200px;
  }
  .project-2 .s-header-content {
    padding: 20px;
  }
  .project-2 .s-header-content img {
    margin: auto;
  }
  .block-1 .img-wrap {
    padding: 0 20px;
  }
  .s-blue-dark {
    padding-top: 60px;
  }
  .project-3 .s-header {
    padding: 0;
    min-height: 620px;
    background: #f1f1f1;
  }
  .project-3 .s-header-content {
    max-width: 100%;
    padding: 20px;
  }
  .project-3 .s-header .img-bg {
    height: 100%;
    width: auto;
  }
  .project-3 .s-header .img-bg img {
    height: 620px;
    position: relative;
    left: -90px;
  }
  .project-3 .s-header-content img {
    height: 100px;
  }
  .project-3 .s-works {
    padding: 40px 0;
  }
  .project-3 .s-works .img-bg {
    position: relative;
    left: 0;
  }
  .project-3 .s-works .img-bg img {
    max-height: 257px;
  }
  .project-3 .s-works .img-responsive {
    max-height: 242px;
  }
  .project-3 .works-1 .img-bg {
    margin-top: 20px;
  }
  .project-3 .works-1 .img-bg img {
    max-height: 5299px;
  }
  .project-3 .works-2 .works-content {
    padding-left: 0;
  }
  .works-content {
    padding: 20px;
  }
  .s-gray-block {
    padding-top: 40px;
    text-align: center;
  }
  .s-gray-block .img-wrap {
    margin: 20px 0;
  }
  .s-gray-block p {
    margin: 20px 0 30px;
  }
  .s-gray-block .s-order-wrap {
    margin-top: 40px;
  }
  .s-gray-block .s-order-wrap p {
    max-width: 525px;
    margin: 0 auto;
  }
  .works-1 .img-bg {
    position: relative;
  }
  .works-1 .img-bg img {
    right: -60px;
    position: relative;
  }


}



  @media (max-width: 575.98px) {
 
  .s-header .slider-item-cont {
    padding: 0 20px;
  }
  .is-home .s-adv {
    margin-top: 60px;
  }
  .project {
    font-size: 14px;
  }
  .project .s-header .img-wrap {
    padding: 0 0 20px;
  }
  .project .s-header .img-wrap img {
    max-width: 100%;
    margin: auto;
  }
  .project .s-header h1 {
    margin: 20px 0;
    text-align: center;
  }
  .project .s-header-content {
    max-width: 100%;
    margin-bottom: 40px;
    font-size: 16px;
    text-align: left;
  }
  .project .s-gray {
    padding: 40px 0;
  }
  .project .s-gray .img-responsive {
    margin-bottom: 20px;
  }
  .project .s-gray.s-work-5 {
    padding: 40px 0 60px;
  }
  .project .s-gray.s-work-5 .img-responsive {
    padding-right: 0;
    padding-top: 0;
    position: relative;
    left: -80px;
  }
  .project .s-gray.s-work-5 .button {
    width: 100%;
  }
  .project .s-order-wrap {
    max-width: 100%;
    padding: 0;
    margin-bottom: 0;
  }
  .project .s-order-wrap .button {
    font-size: 14px;
    width: 100%;
  }
  .s-colors {
    padding: 40px 0;
  }
  .carousel-colors {
    margin-top: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .carousel-colors-item {
    height: 163px;
    width: auto;
    margin: 10px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 5px 10px 0 rgba(40, 40, 40, 0.15);
            box-shadow: 0 5px 10px 0 rgba(40, 40, 40, 0.15);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
  }
  .carousel-colors-item-content {
    display: block;
    width: 100%;
  }
  .carousel-colors-item img {
    height: 65px !important;
    width: 87px !important;
    margin: 10px auto;
  }
  .carousel-colors-item a {
    color: #17DCF3;
    font-size: 22px;
    width: 100%;
    height: 100%;
    padding: 30px;
  }
  .carousel-colors-item a:hover, .carousel-colors-item a:focus {
    color: #febb16;
  }
  .carousel-colors .owl-dots {
    margin-top: 15px;
  }
  .carousel-colors .owl-dots .owl-dot {
    background: transparent;
    border: 1px solid #febb16;
    -webkit-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
    width: 10px;
    height: 10px;
  }
  .carousel-colors .owl-dots .owl-dot.active {
    background: #febb16;
  }
  .main-page {
    padding: 40px 0;
    text-align: center;
  }
  .main-page h3 {
    margin-bottom: 15px;
  }
  .main-page img {
    margin: 15px auto;
  }
  .s-web {
    padding: 0;
  }
  .s-web .img-width {
    height: 700px;
    width: auto;
  }
  .s-web .button-wrap {
    position: absolute;
    bottom: 20px;
  }
  .other-project-item {
    height: 350px;
    cursor: pointer;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    padding: 0 20px;
  }
  .other-project-item a {
    color: #fff;
    position: relative;
    z-index: 2;
  }
  .other-project-item a h3, .other-project-item a .nav-text {
    color: #fff;
    margin-bottom: 20px;
  }
  .other-project-item a p {
    font-size: 16px;
    letter-spacing: 0.05px;
  }
  .project-2 .s-header .img-bg {
    height: 409px;
    left: -50px;
  }
  .project-2 .s-header-content {
    padding-bottom: 10px;
  }
  .project-2 .s-header-content img {
    height: 70px;
  }
  .project-2 .s-features {
    padding: 40px 0;
  }
  .project-2 .s-features .carousel-colors {
    margin-top: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project-2 .s-features .carousel-colors-item {
    height: 225px;
    width: auto;
    margin: 10px;
    -webkit-border-radius: 10px;
            border-radius: 10px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0 5px 10px 0 rgba(40, 40, 40, 0.15);
            box-shadow: 0 5px 10px 0 rgba(40, 40, 40, 0.15);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-transition: color .25s;
    -o-transition: color .25s;
    transition: color .25s;
  }
  .project-dark .s-features .carousel-colors {
    margin-top: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .project-dark .s-features .carousel-colors-item {
    margin: 0;
  }
  .block-1 .img-wrap,
  .block-2 .img-wrap,
  .block-3 .img-wrap {
    padding: 0 40px;
  }
  .parallax {
    height: 350px;
  }
  .s-blue-dark {
    padding: 40px 0 0;
  }
  .s-blue-dark h3 {
    text-align: center;
  }
  .s-blue-dark .button {
    text-align: center;
    width: 100%;
  }
  .project-3 .s-header {
    min-height: 446px;
  }
  .project-3 .s-header-content {
    padding: 20px;
  }
  .project-3 .s-header .img-bg img {
    height: 446px;
    position: relative;
    left: -90px;
  }
  .project-3 .s-header-content img {
    height: 100px;
  }
  .project-3 .s-works {
    padding: 40px 0;
  }
  .project-3 .s-works .img-bg {
    position: relative;
    left: 0;
  }
  .project-3 .s-works .img-bg img {
    max-height: 236px;
  }
  .project-3 .s-works .img-responsive {
    max-height: 242px;
  }
  .project-3 .works-1 .img-bg {
    margin-top: 20px;
  }
  .project-3 .works-1 .img-bg img {
    max-height: 236px;
    right: -20px;
  }
  .project-3 .works-2 .works-content {
    padding-left: 20px;
  }
  .works-content {
    padding: 20px;
  }
  .works-content h3 {
    text-align: center;
  }
  .s-gray-block {
    padding: 40px 0 0;
  }
  .s-gray-block .works-content {
    padding: 0;
  }
  .s-gray-block h3 {
    text-align: center;
  }
  .s-gray-block .button {
    text-align: center;
    width: 100%;
  }
  .item-project {
    height: 260px;
  }
  .fix-line .container .button.btn-big .main-menu a,
  .fix-line .container .menu-wrap .main-menu a,
  .fix-line .container-fluid .button.btn-big .main-menu a,
  .fix-line .container-fluid .menu-wrap .main-menu a {
    font-size: 18px;
    margin: 15px 0 18px;
  }
  .bg-circle {
    top: -70px;
    left: -280px;
    width: 1100px;
    height: 1100px;
  }
  .bg-circle-gray {
    top: -60px;
    left: -280px;
    width: 1100px;
    height: 1100px;
  }

}