.s-services .list-item {
  display: none;
  cursor: pointer;
}

.s-services .list-item:hover .list-content, .s-services .list-item:focus .list-content {
  background-color: #fff;
}

.s-services .list-item:hover .list-content h3, .s-services .list-item:hover .list-content .h3, .s-services .list-item:focus .list-content h3, .s-services .list-item:focus .list-content .h3 {
  color: #febb16;
}

.s-services .list-content {
  background-color: #f0f4f7;
}

.s-services .list-content .button {
  margin-top: 40px;
}


/*==========  Desktop First  ==========*/



@media only screen and (max-width: 1280px) {
  
  .s-services .list-content .button {
    margin-top: 20px;
  }
  
}


@media only screen and (max-width: 1024px) {


  .s-services .list-content .button {
    margin-top: 10px;
  }
  
}
